
@charset "UTF-8";

/*
body {
    padding: 0;
}
*/

.square {
    border: 1px solid #ccc;
    border-width: 1px 0 0 1px;
}

.grid square {
    border: 1px solid #ccc;
    border-width: 0 1px 1px 0;
    float: left;
}